#!/bin/bash

set -e

LOCAL_PWD=$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )

FLATFILE_HDFS_ROOT=/user/${USER}/tpcds_parquet
FLATFILE_HDFS_REPORTS=/user/${USER}/reports
GEN_DATA_SCALE=3000
DSDGEN_THREADS_PER_NODE=12
TPCDS_DBNAME=tpcds_parquet
QUERY_TYPE="imp"
